* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #9e89e6;
}

.title {
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.781);
    margin: 10px 0;

}

main {
    max-width: 900px;
    background: #9d9ac7;
    margin: auto;
    height: 95vh;
}

.container {
    max-width: 900px;
    padding: 0 15px;
    margin: auto;
    background: #211548;
}

form {
    display: flex;
    align-items: flex-end;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

input,
select {
    display: inline-block;
    height: 30px;
    border: 0;
    outline: 0;
    padding: 5px;
}

td input[type="text"],
td input[type="date"] {
    max-width: 150px;
}

.name_field {
    flex: 1;
}

label {
    color: white;
    margin-bottom: 5px;
}

input[type='submit'] {
    background: #60eb89ce;
    color: white;
    padding: 0 10px;
    cursor: pointer;
}

.horizontalLine {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background: rgb(106, 106, 106);
    margin: 10px 0 0;
}

.filter_container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
}

.subTitle {
    color: white;
}

th,
td {
    color: white;
}

table,
thead,
tbody,
tr,
th,
td {
    border: none;
    text-align: center;
}

tr:hover {
    background: #000;
}

tr:hover td {
    color: white !important;
}

thead tr {
    background: #000;
}

.table_container {
    padding-bottom: 25px;
}

td button {
    border: none;
    background-color: unset;
    margin: 0 5px;

}


button i {
    pointer-events: none;
    color: rgb(212, 224, 140);
    font-size: 25px;
}

.all_checked {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_checked label {
    margin: 0 5px 0;
}

#bulk_action {
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    margin: 10px 0;
    display: none;
    justify-content: space-between;
}

#bulk_action #dismiss button {
    color: white;
    background-color: red;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#actions button{
    height: 30px;
    min-width: 100px;
    padding: 2px 5px;
}

#actions{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}